.skills{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .languages{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            margin-bottom: 40px;
            margin-top: 50px;
        }
        .langImg{
            display: flex;
            align-items: center;
            justify-content: center;

            .languageCard{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;

                &:hover {
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    background-color: rgba(255, 255, 255, 0.082);
                    border-radius: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.082);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    scale: 1.2;
                }

                h3{
                    margin-top: 15px;
                    margin-right: 7px;
                    color:rgba(94 234 212);
                }
            }
        }
    }
    .databaseAndFramework{
        display: flex;
        width: 100%;
        justify-content: space-between;
        h1{
            margin-top: 70px;
        }
    }
    img{
        width: 100px;
        height: 100px;
        // margin-right: 20px;
        align-items: center;
        justify-content: center;
    }
}