@import "../../App.scss";
.navbar{
    height: 100px;
}
.navbar .wrapper{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    @include mobile{
        justify-content: flex-end;
        padding: 20px;
    }
}

.wrapper span{
    font-size: 25px;
}

.navbar .social{
    display: flex;
    gap: 20px;
}